html{
	scroll-behavior: smooth;
}
*{
	font-weight: normal;
	margin:0px;
}
body{
	background-color: #3f3f3d;
	width: 100%;
	min-height: 100vh;
	width:100%;
	overflow-x: hidden; 
}
header{
	height: 60px;
	width: 100%;
	margin: 0px;
}
#logo{
	display:block;
	height:50px;
	width:auto;
	padding-left: 15px;
}
.navbar{
	min-height:60px;
	z-index: 10;
	padding : 10px 10px;
	opacity: 0.9;
	background-color: #484846;
	position:fixed;
	width:100%; 
	display:flex;
	justify-content: space-between;
	align-items:center;
}
.navbar a{
	text-decoration:none;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:larger;
	width:100%;
}
.navbar-pg{
	padding-right: 20px;
	display: flex;
	gap: 20px;
}
.navbar-pg a{
	padding:10px;
	color:white;
	font-weight: light;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 25px;
}
.navbar-pg a:hover{
	animation: ease-in 0.2s;
	background-color: #c7c7bc;
	transition: 0.3s ease-in-out;
	color: black;
}
.mobile-btn{
	display:none;
}
.menu-icon {
	width: 30px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 22px;
	margin-right: 30px;
}

.line1, .line2, .line3{
	height: 4px;
	background: #ffffff;
	border-radius: 3px;
	transition: 0.4s;
}

.hero-section{
	display: flex;
	margin-top:60px;
	min-height: 80vh;
	height:auto;
	width: 100%;
	padding-left: 120px;
	margin-bottom: 30px;
	scroll-margin-top: 150px;
}
#profile{
	z-index: 1;
	height: 400px;
	width: 400px;
	margin: 10px;
	margin-top:30px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
	animation: slideleft 1.5s ease-in;
}
.intro{
	z-index: 0;
	color: white;
	width:100%;
	margin-left: 50px;
	padding-top:100px ;
	animation: slideright 1.5s ease-in;
}
.intro-details{ 
	margin-top:20px;
	margin-bottom:30px;
	width: 80%;
}
.intro h2, .intro span{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 50px;
	font-weight:bold;
}
.intro h3{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	font-weight:normal;
}
.resume{
	background-color: rgb(255, 87, 51);
	color: white;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.resume:hover{
	transform: translateY(-3px);
	box-shadow: 0px 0px 10px 5px rgba(255, 87, 51,0.5)	;
}
.mail-to{
	background-color: transparent;
	color: black;
	font-size: 50px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.intro-actions {
	display: flex;
	align-items: center;
	gap: 20px;
}
.intro i:hover{
	color: rgb(100, 96, 96);
	transform: translateY(-3px);
}
main a:visited,
main a:active {
	color:black;
  text-decoration: none;     
}
@keyframes slideleft {
	from {
		display : hidden;
		transform: translateX(425px);
		opacity: 1;
	}
}
@keyframes slideright {
	from {
		display : hidden;
		transform: translateX(-50px);
		opacity: 0;
		z-index: -1;
	}
}
section:not(.hero-section){
	width:100%;
	padding-top:20px;
	scroll-margin-top: 60px;
	margin-bottom: 20px;
	background-color: rgb(72, 72, 70);
	border-bottom: 2px solid rgb(72,72,80);
}
section:not(.hero-section) h2{
	text-align: center;
	margin-bottom: 20px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:30px;
	font-weight:400;
}
.about-me{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom:20px;
}
.big-line, .small-line, .smaller-line{
	height:3px;
	background-color: rgb(130, 130, 142);
	border-radius: 0px;
}
.about-me p{
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
	width: 80%;
	margin-top: 20px;
	text-align: center;
}
.about-me-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align:justify;
	gap: 20px;
	margin-top: 20px;
}
.big-line{
	width:30%;
}
.small-line{
	margin:15px;
	width:20%;
}
.smaller-line{
	width:10%;
}
.skills{
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}
.skills-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}
.skills-content{
	padding: 5px;
	margin: 10px;
	background-color:  #3f3f3d;
	display : grid;
	width: 300px;
	min-height: 400px;
	height:auto;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows: 0.5fr 1fr 1fr 1fr;
	border-radius: 30px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
	animation: fadeIn 1s ease-in;
}
.skills-content h3{
	text-align: center;
}
.skills-content span{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin:10px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:100%;
	grid-column: 1/3;
	background-color:rgb(72, 72, 70);
	border-radius: 14px;
}
.skills-content:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
.skill-item{
	color:#9da5b1;
	background-color: rgb(72, 72, 70);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	margin:5px;
}
.skill-item img{
	width: 60px;
	height: 60px;
	margin-bottom: 10px;
}
.skill-item p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:18px;
	color:white;
}
.skill-item:hover{
	color:white;
	transform: translateY(-5px);
	transition:transform 0.3s ease, color 0.3s ease;
}
.projects{
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}
.project-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1250px;
	gap: 30px;
}
.project-item{
	overflow:hidden;
	background-color: #3f3f3d;
	border: 2px solid  #363634;
	border-radius: 14px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
	width: 100%;
	height:300px;
	display: flex;
	flex-direction: column;
	color: rgb(201, 197, 205);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
	animation: fadeIn 1s ease-in;
}
.project-item h4{
	text-align: center;
}
.project-item img{
	width: 100%;
	height: 80%;
	object-fit:contain;
	 object-position: top; 
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 1px solid #363634;
}
.project-item:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.3);
}
.project-content a{
	text-decoration: none;
	margin: 10px;
}
@keyframes fadeIn {
	from {
		transform: translateY(20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
		
	}
}
.contact-me h3{
	text-align: center;
	margin-bottom: 80px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:130%;
}
.contact-me-content{
	display:flex;
	margin-bottom:10px;
}
.contact-me-content form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left:10%;
	margin-bottom: 15px;;
	color:rgb(201, 197, 205);
	width: 60%;
	background-color: #3f3f3d;
	border-radius: 14px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
}
.contact-me-content form:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
.contact-me-content form label{
	margin: 15px 0px 0px 10px;
	color:white;
	font-size: x-large;
	align-self: flex-start;
}
.contact-me-content form input, textarea{
	width: 90%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	border: none;
	background-color: #484846;
	color: white;
	font-size: large;
	resize: none;
}
.contact-me-content input::placeholder,
.contact-me-content textarea::placeholder {
	color: #9da5b1;      
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	opacity: 1;
}
.contact-me-content form input[type="submit"] {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	background-color: #ff5733;
	color: white;
	padding: 14px 25px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: large;
	transition: all 0.3s ease;
}
 form > input:focus, form > textarea:focus {
	outline:none;
	border:1px solid #ff5833ce
}
.contact-me-content form input[type="submit"]:hover {
	background-color: #ff5833c9;      
	color: white;
	transform: translateY(-3px);     
}
#form-status{
	margin:5px 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	font-size: 100%;
}
.contact-data{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left:5%;
	margin-bottom: 15px;
	width: 100%;
}
.contact-info, .contact-links{
	width:70%;
	margin-left:0%;
	height:200px;
	background-color: #3f3f3d;
	border-radius: 14px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
	margin-bottom:30px;
	border-bottom: #be5c46 2px solid;
	padding:5px 0px 5px 10px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:140%;
	font-weight: light;
}
.contact-info:hover, .contact-links:hover{
	transform: translateY(-5px);
	box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
.contact-info span{
	width: 35px;
	height:35px;;
	display:flex;
	justify-content: center;
	align-items: center;
	color:white;
	font-size: 30px;
	margin: 20px 0px 10px 10px;
	padding:8px;
	background-color: #ff5733;
	border-radius:50%;
}
.contents{
	display:flex;

}
.contents h5{
	font-weight:500;
	font-size: large;
	margin-top:30px ;
	margin-left:30px;
}
.contact-links{
	height: fit-content;
}
.contact-links i{
	color:white;
	font-size: 35px;
	padding:10px;
	background-color: #ff5733;
	border-radius:50%;
	transition:all 0.3s ease;
}
.contact-links-contents{
	display:flex;
	justify-content: center;
	align-items: center;
	gap:15%;
	margin-top:30px;
	margin-bottom: 30px;
}
.contact-links i:hover{
	color: rgb(156, 152, 152);
	transform: translateY(-5px);
}
footer{
	background-color: #484846;
	color: white;
	text-align: center;
	padding: 15px 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer p{
	color:#ff6948;
}
.quick-links a{
	display: inline-block;
	padding:10px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	transition: transform 0.3s ease, color 0.3s ease;
}
.quick-links{
	margin:10px;
}
.quick-links a:hover{
	color: #c7c7bc;
	
	transform:translateY(-2px);
}



@media (max-width: 768px) {
	body{
		overflow-x: hidden;
		width:100%;
		margin:0px;
		padding:0px;
	}
	.title img {
		height: 0px;
		padding-left: 10px;
	}
	.navbar-pg{
		flex-direction:column;
		position: absolute;
		top:60px;
		right:25px;
		background-color: #363634;
		border-radius:14px;
		padding:0px;
		width:100px;
		height:max-content;
		transform: translateX(120%);
		gap:10px;
		overflow:hidden
	}
	.navbar-pg a{
		text-align: center;
		width:auto;
		margin:0px;
		border-radius:inherit;
	}
	.mobile-btn{
		display:block;
		background:none;
		border:none;
	}
	.nav-active{
		animation:slidein 0.3s ease-in forwards;
	}
	.nav-deactive{
		animation:slideout 0.3s ease-in forwards;
	}
	.line2-active{
		animation: line-active 0.4s forwards;
	}
	.line2-deactive{
		animation: line-deactive 0.4s forwards;
	}
	@keyframes line-active{
		from{
			width: 100%;
		}
		to{
			width: 20px;
		}
	}
	@keyframes line-deactive{
		from{
			width: 20px;
		}
		to{
			width: 100%;
		}
	}
	@keyframes slidein {
		from {
			transform: translateX(100%);
			opacity: 0;
		}
		to {
			transform: translateX(0%);
			opacity:1;
		}
	}
	@keyframes slideout {
		from {
			transform: translateX(0);
			opacity:1;
		}
		to {			
			transform: translateX(120%);
			opacity: 0;
		}
	}
	
	.hero-section{
		margin-bottom:20px;
		width:100%;
		height:fit-content;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-left: 0px;
		margin-left: 0px;
	}
	.intro{
		margin:0%;
		padding-top:10%;
		font-size: medium;
		align-self:center;
		animation:none;
	}
	.intro h2, .intro span{
		font-size: 30px;
	}
	.mail-to > i{
		font-size: 35px;
	}
	.intro-details {
		width:100%;
		text-align:left;
	}
	.intro-details > span{
		width:90%;
	}
	.intro-details{
		display: flex;
		justify-content: center;
	}
	.intro-actions{
		margin-left: 30px;
	}
	.intro-actions button{
		font-size:medium;
	}
	.intro-actions a{
		font-size:40px;
	}

	#profile{
		margin:0px;
		height: 250px;
		width: 250px;
		animation:none;
	}
	.about-me p{
		width: 90%;
		text-align: center;
		font-size: medium;
	}
	.skills-section{
		flex-direction: column;
	}
	.skills-content{
		width:280px;
		padding:5px;
		margin-bottom: 20px;
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.skills-content:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.skill-item{
		padding:0px;
	}
	.skill-item img{
		width: 50px;
		height: 50px;
	}
	.skill-item:hover{
		color:white;
		transform: none;
	}
	.project-content{
		max-width:800px;
		grid-template-columns: 100%;
		gap:20px;
	}
	.project-item{
		width:100%;
		height:230px;
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.project-item:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-me-content{
		flex-direction: column;
		align-items: center;
	}
	.contact-me-content form{
		width: 80%;
		margin:0px;
		margin-bottom: 50px;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-me-content form:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-me-content form label{
		font-size: large;
	}
	.contact-me-content form input, textarea{
		font-size: medium;		
	}
	.contact-me-content form input[type="submit"] {
		font-size: medium;
	}
	.contact-data{
		align-items: center;
		width: 80%;
		margin-left:0px;
	}
	.contact-info h4, .contact-links h4{
		font-size: 140%;
	}
	.contact-info , .contact-links {
		font-size:0.9em;
		width: 100%;
		margin-left:0px;
		padding:10px 10px;
		color: white;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: light;
		height:fit-content;
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.contact-me-content form input[type="submit"]:hover {
		background-color: #ff5733;  
		transform: none;     
	}
	.contact-info span{
		width: 30px;
		height:30px;
		font-size: 2em;
		margin: 15px 0px 10px 10px;
	}
	.contact-info:hover, .contact-links:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-links i{
		color:white;
		font-size:2em;
		padding:12px;
		background-color: #ff5733;
		border-radius:50%;
	}
	.contact-links i:hover{
		color: white;
		transform: none;
	}
	.contents h5 {
		margin-left: 15px;
		margin-top: 22px;
	}
	footer{
		font-size:80% ;
	}
	.quick-links a{
		font-size: 14px;
	}
	.quick-links a:hover{
		transform:none;
	}
}
@media (max-width: 480px) {
	#logo{
		height:50px;
		padding:0px;
		margin:0px;
	}
	.navbar{
		height:40px;
	}
	.mobile-btn{
		display:block;
		background:none;
		border:none;
		padding:0px;
		margin:0px;
	}
	.hero-section{
		margin-bottom:0px;
		padding:0px;
	}
	.intro h2, .intro span{
		font-size: 25px;
	}
	.skills-section{
		gap:30px;
	}
	
	.skills-content h3{
		font-size: 18px;
	}
	.skill-item p{
		font-size:14px;
	}
	.project-content{
		max-width:340px;
		grid-template-columns: 100%;
	}
	.project-item{
		width:100%;
	}
	.contact-data{
		width:85%;
	}
	.contact-me-content form {
		width: 90%;
	}

	.contact-info, .contact-links {
		width:100%;
		padding: 10px;
	}
	.contact-info a, .contact-links a{
		text-decoration: none;

	}
	.contact-info span, .contact-links i {
		width: 20px;
		height: 20px;
		font-size: 1.2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.contact-links i{
		font-size: 30px;
	}
	.contents h5 {
		font-size: 0.85rem;
		margin-left: 10px;
	}
	.contact-links-contents{
		margin-left:0px;
	}
}
@media only screen and (max-height: 480px) and (orientation: landscape) {
    html{
		overflow-x: hidden;
	}
	body{
		overflow-x: hidden;
		width:100%;
		margin:0px;
		padding:0px;
	}
	#profile {
        height: 200px;
        width: 200px;
        animation: none;
    }
	.hero-section {
		width:100%;
		margin-top: 40px;
		margin-left:0px;
		padding-left:8%;
	}
	.intro{
		width:100%;
		padding-top:5%;
		font-size: medium;
		align-self:center;
		animation:none;
	}
	.intro-details {
		width: 90%;
	}
	.intro h2, .intro span{		
		font-size: 25px;
	}
	.intro h3{
		font-size: 20px;
	}
	.skills-section{
		width:100%;
		flex-wrap: wrap;
	}
	.skills-content{
		width: 25%;
	}
	.skills-content span{
		font-size: 90%;
	}
	.skill-item img{
		width: 40px;
		height: 40px;
	}
	.skill-item p{
		font-size:14px;
	}
	.skills-content:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.skill-item{
		padding:0px;
	}
	.skill-item img{
		width: 50px;
		height: 50px;
	}
	.skill-item:hover{
		color:white;
		transform: none;
	}
	.project-content{
		margin-left:10px;
		max-width: 1250px;
		gap: 0px;
	}
	.project-item{
		width:95%;
		height:230px;
		box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
	}
	.project-item:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-me-content form:hover{
		transform: none;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.3);
	}
	.contact-me-content form{
		width: 80%;
	}
	.contact-info{
		height:180px;
		width: 80%;
		padding:5px;
		font-size:120%;
	}
	.contact-me-content form label{
		font-size: large;
	}
	.contact-me-content form input, textarea{
		font-size: medium;
	}
	.contact-me-content form input[type="submit"]{
		font-size: medium;
	}
	.contact-links{
		padding:5px;
		font-size:120%;
		width: 80%;
	}
	.contents span{
		margin-left:10px;
	}
	.contents h5 {
		font-size: 65%;
		margin-left: 15px;
		margin-top: 35px;
	}
	.contact-info span{
		width: 25px;
		height: 25px;
		font-size: 1.5rem;
	}
	.contact-links i{
		width: 25px;
		height: 25px;
		font-size: 2rem;
	}
	.contact-links-contents{
		gap:12%;
	}
	.contact-links i{
		margin: 0px;
		padding: 8px;
		width:auto;
		height:30px;
	}
	footer{
		font-size:60% ;
	}
}