*{
	margin:0px;
}
body{
	background-color: #3f3f3d;
	width:100vw;
	max-width:100vw;
	overflow-x: hidden;
}
header{
	height: 60px;
	width: 100%;
	margin: 0px;
}
.hero-section{
	margin-bottom: 30px;
	scroll-margin-top: 150px;
}
.navbar{
	height:60px;
	z-index: 10;
	padding : 10px 10px;
	opacity: 0.9;
	background-color: #484846;
	position:fixed;
	width:100%; 
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.navbar a{
	text-decoration:none;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:larger;
}
.navbar-pg{
	padding-right: 10px;
}
.navbar-pg a{
	padding:10px;
	color:white;
	font-weight: light;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	
}
.navbar-pg a:hover{
	animation: ease-in 0.2s;
	border-radius: 25px;
	background-color: #c7c7bc;
	transition: 0.1s;
	color: black;
}
.hero-section{
	display: flex;
	margin-top:80px;
	height: 80vh;
	width: 100%;
	padding-left: 80px;
}
#profile{
	z-index: 1;
	height: 400px;
	width: 400px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
	animation: slideleft 2s ease-in;
}
.intro{
	z-index: 0;
	color: white;
	margin-left: 50px;
	padding-top:100px ;
	animation: slideright 2.2s ease-in;
}
@keyframes slidelef {
	from {
		display : hidden;
		transform: translateX(425px);
		opacity: 1;
	}
}
@keyframes sliderigh {
	from {
		display : hidden;
		transform: translateX(-50px);
		opacity: 0;
		z-index: -1;
	}
}
.intro button{
	background-color: rgb(255, 87, 51);
	color: white;
	font-size: large;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.intro button:hover{
	transform: translateY(-3px);
	box-shadow: 0px 0px 10px 5px rgba(255, 87, 51,0.5)	;
}
.intro a {
	margin-top: 50px;
	font-size: 40px;
}
.intro-actions {
	display: flex;
	align-items: center;
	gap: 20px;
}
.intro i:hover{
	color: rgb(100, 96, 96);
	transform: translateY(-3px);
}
#bubble1{
	transform:rotateZ(-20deg);
	position:absolute;
	right:180px;
	top:300px;
}
#bubble2{
	transform:rotateZ(20deg);
	position:absolute;
	right: 350px;
	top:240px;
}
#bubble3{
	transform:rotateZ(-20deg);
	position:absolute;
	right:30px;
	top:330px;
}
#bubble4{
	transform:rotateZ(20deg);
	position:absolute;
	right:160px;
	top:160px;
}
#bubble5{
	transform:rotateZ(20deg);
	position:absolute;
	right:290px;
	top:430px;
}
#bubble6{
	transform:rotateZ(-20deg);
	position:absolute;
	right:120px;
	top:470px;
}
#bubble1 i, #bubble2 i, #bubble3 i, #bubble4 i, #bubble5 i, #bubble6 i{
	color:black;
	font-size: 60px;
	text-decoration: none;   
	animation: slideup 2s ease-in;
}

.bubble i:hover{
	color:rgb(127, 123, 123);
	transform: translateY(-5px);
}
main a:visited,
main a:active {
	color:black;
  text-decoration: none;     
}
@keyframes slideu {
	from {
		display : hidden;
		transform: translateX(30px);
		opacity: 0;
	}
}
section{
	padding-top:20px;
	scroll-margin-top: 60px;
	margin-bottom: 20px;
	background-color: rgb(72, 72, 70);
	border-bottom: 2px solid rgb(72,72,80);
}
section h2{
	text-align: center;
	margin-bottom: 20px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:30px;
}
.about-me{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom:20px;
}
.big-line, .small-line, .smaller-line{
	height:3px;
	background-color: rgb(130, 130, 142);
	border-radius: 0px;
}
.about-me p{
	color: rgb(201, 197, 205);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
	width: 80%;
	margin-top: 20px;
	text-align: center;
}
.big-line{
	width:30%;
}
.small-line{
	margin:15px;
	width:20%;
}
.smaller-line{
	width:10%;
}
.skills{
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}
.skills-section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-top: 20px;
}
.skills-content{
	padding: 5px;;
	background-color:  #3f3f3d;
	display : grid;
	width: 300px;
	height: 400px;
	margin-right: 25px;
	grid-template-columns:repeat(2,1fr);
	grid-template-rows: 0.5fr 1fr 1fr 1fr;
	border-radius: 30px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
}
.skills-content span{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin:10px;
	color: rgb(201, 197, 205);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
	grid-column: 1/3;
	background-color:rgb(72, 72, 70);
	border-radius: 14px;
}
.skills-content:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
.skill-item{
	color:#9da5b1;
	background-color: rgb(72, 72, 70);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-radius: 20px;
	margin:5px;
	font-size:x-large;
}
.skill-item:hover{
	color:white;
	transform: translateY(-5px);
	transition:transform 0.3s ease, color 0.3s ease;
}
.projects{
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}
.project-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	max-width: 1250px;
	gap: 30px;
}
.project-item{
	overflow:hidden;
	background-color: #3f3f3d;
	border: 2px solid  #363634;
	border-radius: 14px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
	width: 380px;
	height:300px;
	display: flex;
	flex-direction: column;
	color: rgb(201, 197, 205);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:20px;
}
.project-item h4{
	text-align: center;
}
.project-item img{
	width: 100%;
	height: 80%;
	object-fit:contain;
	 object-position: top; 
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom: 1px solid #363634;
}
.project-item:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.3);
}
.project-item:hover img {
 	transform: scale(1.05);           
	transition: ease-in 0.1s;
}
.project-content a{
	text-decoration: none;
	font-weight: bold;
	margin: 10px;
}
.contact-me h3{
	text-align: center;
	margin-bottom: 80px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:25px;
	font-weight: light;
}
.contact-me-content{
	display:flex;
}
.contact-me-content form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left:10%;
	margin-bottom: 15px;;
	color:rgb(201, 197, 205);
	width: 30%;
	background-color: #3f3f3d;
	border-radius: 14px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
}
.contact-me-content form label{
	margin: 15px 0px 0px 10px;
	font-size: large;
	align-self: flex-start;
}
.contact-me-content form input, textarea{
	width: 90%;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	border: none;
	background-color: #484846;
	color: white;
	font-size: medium;
	resize: none;
}
.contact-me-content input::placeholder,
.contact-me-content textarea::placeholder {
  color: #9da5b1;      
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  opacity: 1;
}
.contact-me-content form input[type="submit"] {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #6a6a68;
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.contact-me-content form input[type="submit"]:hover {
  background-color: #ff5733;      
  color: white;
  transform: translateY(-3px);     
}

.contact-data{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left:10%;
	margin-bottom: 15px;
	width: 40%;
}
.contact-info, .contact-links{
	width:80%;
	margin-left:20%;
	height:200px;
	background-color: #3f3f3d;
	border-radius: 14px;
	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3);
	margin-bottom:30px;
	border-bottom: #be5c46 2px solid;
}
.contact-info:hover, .contact-links:hover{
	transform: translateY(-5px);
	box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}
.contact-info, .contact-links h4{
	padding:5px 0px 5px 10px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:25px;
	font-weight: light;
}
.contact-data i{
	font-size: 30px;
	margin: 20px 30px 10px 10px;
	padding:8px;
	background-color: #ff5733;
	border-radius:50%;
}
.contents{
	display:flex;
}
.contents h5{
	font-size: large;
	margin-top:25px ;
}
