*{
	margin:0px;
}
body{
	background-color: #3f3f3d;
	width:100vw;
	max-width:100vw;
	overflow-x: hidden;
}
header{
	height: 60px;
	width: 100%;
	margin: 0px;
}
.navbar{
	z-index: 10;
	padding-top: 10px;
	opacity: 0.9;
	background-color: #3f3f3d;
	position:fixed;
	width:100%; 
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.navbar a{
	text-decoration:none;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:30px;
}
.navbar-pg a{
	padding:10px;
	color:white;
	font-weight: light;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:large;
}
.navbar-pg a:hover{
	border-radius: 25px;
	background-color: #c7c7bc;
	transition: 0.1s;
	color: black;
}
.hero-section{
	display: flex;
	margin-top:110px;
	height: 100vh;
	width: 100%;
	padding-left: 80px;
	background-color: #3f3f3d;
}
#profile{
	z-index: 1;
	height: 400px;
	width: 400px;
	margin: 10px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
	animation: slideleft 2s ease-in;
}
.intro{
	z-index: 0;
	color: white;
	margin-left: 50px;
	padding-top:100px ;
	animation: slideright 2s ease-in;
}
@keyframes slideleft {
	from {
		transform: translateX(500px);
		opacity: 1;
	}
}
@keyframes slideright {
	from {
		transform: translateX(-300px);
		opacity: 0;
		z-index: -1;
	}
}
.intro button{
	background-color: #ff5733;
	color: white;
	font-size: large;
	padding: 10px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}
.intro button:hover{
	transform: translateY(-3px);
}
#bubble1{
	transform:rotateZ(-20deg);
	position:absolute;
	right:180px;
	top:330px;
}
#bubble2{
	transform:rotateZ(20deg);
	position:absolute;
	right: 350px;
	top:270px;
}
#bubble3{
	transform:rotateZ(-20deg);
	position:absolute;
	right:30px;
	top:360px;
}
#bubble4{
	transform:rotateZ(20deg);
	position:absolute;
	right:160px;
	top:190px;
}
#bubble5{
	transform:rotateZ(20deg);
	position:absolute;
	right:290px;
	top:460px;
}
#bubble6{
	transform:rotateZ(-20deg);
	position:absolute;
	right:120px;
	top:500px;
}
.bubble i{
	color:black;
	height: 50px;
	width:50px;
	font-size: 60px;
	animation: slideup 2s ease-in;
}

.bubble i:hover{
	color:rgb(127, 123, 123);
	transform: translateY(-5px);
}
.bubble a:visited,
.bubble a:active {
  text-decoration: none;
  color:black;       
}
@keyframes slideup {
	from {
		transform: translateX(30px);
		opacity: 0;
	}
}